[Unit]
Description=firewall script
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/firewall.sh start
ExecStop=/usr/local/bin/firewall.sh stop
ExecReload=/usr/local/bin/firewall.sh restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target